<div class="authform">
  <%= simple_form_for(@community) do |f| %>
  <%= f.error_notification %>
  
  <h3>New Community</h3>
  <div class="form-inputs">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :about %>
      <%= f.text_area :about, as: :text, :rows => "3", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list, class: 'form-control' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary btn-md" %>
  </div>
<% end %>
