<% cache do %>
  <div id="container" align="center">
    <%= paginate @communities %>
  </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Loves</th>
      <th>Name</th>
      <th>About</th>
      <th>Link</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= link_to "♡", like_community_path(community), method: :put %> <%= community.score %></td>
        <td><h5><%= link_to community.name, community %></h5></td>
        <td><%= community.about %></td>
        <td><%= markdown community.link %></td>
        <td><%= markdown community.categories.map { |t| link_to t, category_path(t) }.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div id="container" align="center">
    <%= paginate @communities %>
  </div>
<% end %>
