<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li>  
    <form class="navbar-form" role="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." name="q">
      </div>
    </form>
  </li>
  <li class="divider-vertical"></li>
  <li><%= link_to 'Submit', new_community_path %></li>
  <li><%= link_to 'View All', browse_path %></li>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li>  
    <form class="navbar-form" role="search">
        <%= form_tag(communities_path, :method => "get", id: "search-form", class: "navbar-form", role: "search", size: '20') do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
        <!-- <%= submit_tag "Go!" %> -->
        <% end %>
    </form>
  </li>
  <li class="divider-vertical"></li>
  <li><%= link_to 'Submit', new_user_registration_path %></li>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
